/node_modules
/public/hot
/public/storage

/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

chromedriver

\.vscode/

database/database\.sqlite-journal

public/js/app\.js

homestead-journal

homestead

.styleci.yml

.editorconfig
.DS_Store

ngrok